.about-us-desc {
    padding:2em 3em;
    
        h2.about-us-title {
            font-size: 4rem;
            text-align: center;
            font-weight:100;
            
            
            @media (min-width: 992px){
                font-size: 34px;
                
            }
        
    }
    .about-us-desc-image{
        width:100%;
        min-height:1rem;
        background-image: url('./images/decoration.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width:992px){
            min-height:1.5rem;
        }
    }
    .about-us-desc-desc{
        text-align: center;
        margin-top: 2rem;
        
        font-size: 16px;

        @media (min-width:992px){
            font-size: 18px;
        }
    }
    p.name{
        
        font-family: 'Mr Dafoe', cursive;
        text-align: right;
        margin-top: 2rem;
        @media (min-width:992px){
            font-size:38px;
        }
    }
}