@import './AboutUsDesc';
@import './AboutUsImage';
.about-us{
    width:100%;
    min-height:200px;
    
}
.about-us-container{
    width:100%;
    min-height: 200px;
    margin-top: 3rem;
    background-color: #EEEEEE;
    padding: 2rem 1rem;
    .row{
    display:flex;
    justify-content: space-between;
    }
}