/* poniżej styluję komponent LgOrSingIn*/
.log-or-sign{

    display:none;

    @include lg{
    display:flex;
    justify-content: flex-end;
  }  
  }
  
  .log-or-sign a{
    text-decoration: none;
    color: black;
    display:inline-block;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom:1.5rem;
    font-size:12px;
    border:1px solid transparent;
    padding: .5em;
  }
  
  .log-or-sign a:hover{
    border:1px solid #F2DF4E/*#FBF09D*/;
  }
  
  .log-or-sign span{
    font-weight: 100;
  }