@import './scss/style.scss';

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* ogólne (container)*/
.container{
  max-width:1024px;
  margin: 0 auto;
}
/* poniżej styluję komponent LgOrSingIn*/
.log-or-sign{
  display:flex;
  justify-content: flex-end;
}

.log-or-sign a{
  text-decoration: none;
  color: black;
  display:inline-block;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom:1.5rem;
  font-size:12px;
  border:1px solid transparent;
  padding: .5em;
}

.log-or-sign a:hover{
  border:1px solid #F2DF4E/*#FBF09D*/;
}

.log-or-sign span{
  font-weight: 100;
}


/* poniżej styluję komponent MainMenu*/
.main-menu ul{
  list-style:none;
  display:flex;
  justify-content: flex-end;
}

.main-menu ul li{
  display:inline-block;
  margin-left: 2rem;
  
}

.main-menu ul li a{
  text-decoration: none;
  color:black;
  font-weight:100;
  border: 1px solid transparent;
  padding:.5rem 1rem;
}

.main-menu ul li a:hover{
  border: 0.5px solid grey;
}

/* poniżej styluję komponent StartSection*/
.start-section{
  min-height: 90vh;
  width:100%;
  background-image: url('./images/header_start_img.jpg');
  background-size: auto 100%;
  
  background-repeat: no-repeat;
}

/* poniżej styluję komponent ChooseOption*/
.choose-option{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  width:100%;
  height: 80vh;
  
}
.choose-option-div{
  display:flex;
  flex-direction:column;
  align-items: center;
  
  width:50%;

}
.choose-option p{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.choose-option p span{
  font-size:34px;
  font-weight: 100;
}

.choose-option-border{
  background-image: url('./images/decoration.png');
  background-position: center;
  background-repeat: no-repeat;
  min-height:1.5rem;
  width:100%;
  margin: 2rem auto;
}

.choose-option .give-or-organise{
  width:80%;
  min-height:3rem;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 3rem;
}

.choose-option .give-or-organise a{
  display:inline-block;
  text-decoration:none;
  color:black;
  border:1px solid grey;
  text-align: center;
  width: calc(50% - 2rem);
  padding-top:0.6rem;
  padding-bottom:0.5rem;
}

.choose-option .give-or-organise span{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 34px;
  
  
}

/*StatSection*/
.stat-section{
  width:100%;
  min-height: 5rem;
   background-image: url('./images/art-background-blank-1020317.jpg');
  background-size:contain; 
  /* background-color: #F5DA00; */

  display:flex;
  justify-content:space-around;
}

.stat-section .stat{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: calc(33% - 20rem);
  margin-bottom:2rem;
}

.stat-section .stat span{
  text-transform:uppercase;
  color:#5D5721;
  text-align: center;
}

.stat-section .stat-section-text{
  text-align: center;
  font-weight: 100;
  color:#5D5721;

}

.stat-nr{
  font-size:72px;
  font-weight: 100;
  color:#5D5721;
  margin-bottom:2rem;
}

/*StepsInfo*/
.steps-info-section-package{
  margin-top:4rem;
  display: flex;
  flex-direction: column;
}
.steps-info-section-package p{
  font-size: 32px;
  font-weight: 300;
  text-align:center;
}

.steps-info-section-package .steps-info-image{
  background-image: url('./images/decoration.png');
  width:100%;
  min-height:2rem;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.steps-info-instructions{
  min-height:8rem;
  width:100%;
  background-color: #EAEAEA;
  margin-top:2rem;

  display:flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 3rem 3rem 2rem; ;
}

.steps-info-single-instruction{
  width: calc(25% - 8rem);
  min-height: 8rem;

  display:flex;
  flex-direction:column;
}

.steps-info-single-instruction i{
  font-size:58px;
  color:grey;
  align-self: center;
}

.steps-info-single-instruction .quick-info{
  margin-top: 2rem;
  font-size: 14px;
  text-align: center;
}

.steps-info-single-instruction .steps-more-info{
  margin-top: 2rem;
  font-size: 14px;
  text-align: center;
}

.steps-sign-in{
  text-decoration:none;
  color:black;
  display:inline-block;
  border: 1px solid grey;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
}

.steps-sign-in span{
  font-weight: 100;
  font-size:28px;
  
  text-transform: uppercase;
}