
/* poniżej styluję komponent MainMenu*/
#main-menu-hamburger{
  @include lg{
    display:none;
  }
}
.main-menu ul{
  display:none;
  @include lg{
    display:block;
    
  

    list-style:none;
    display:flex;
    justify-content: flex-end;
  }
}
  
  .main-menu ul li{
    display:inline-block;
    margin-left: 2rem;
    
  }
  
  .main-menu ul li a{
    text-decoration: none;
    color:black;
    font-weight:100;
    border: 1px solid transparent;
    padding:.5rem 1rem;
  }
  
  .main-menu ul li a:hover{
    border: 0.5px solid grey;
  }