/* poniżej styluję komponent StartSection*/
.start-section{
    min-height: 90vh;
    width:100%;
    background-image: url('./images/header_start_img.jpg');
    background-size: auto 100%;
    
    background-repeat: no-repeat;
  }